input{
    /* border-radius: 5px;
    width: 400%; */
}

.button-div{
    width: 170%;
}

.signIn-btn{
    background-color: #575555;
    border-radius: 5px;
    color: white;
    width: 100%;
    border: none;
    height: 2.5rem;
    margin-top: 3rem;
}

.signIn-btn:hover{
    opacity: 0.4;
}

.loginBody{
    display: flex;
    justify-content: left;
    margin: 10rem auto;
}

#login-bg-img{
    height:80%;
    width: 100%;
    margin:auto 4vw;
}

.signIn-txt{
    margin: 2rem auto;
    width:60%;
}

.field-inputs{
    margin: 3rem auto;
}

#number-input-form{
    width: 170%;
}

#password-input-form{
    width: 170%;
}