/* Export To Excel Button */
#export-to-excel-btn{
    width:"25%"; 
    height:"2.5rem";
    font-size:"85%"; 
    background: "#646464";
     border-radius:"16px";
     color:"white";
      border:"none";
      margin-top: 6%;
}

#export-to-excel-btn:hover{
    opacity: 0.5;
}

.take-action-btn
{
    background-color: #646464;
    border: none;
    border-radius: 16px;
    width: 20%;
    height: 3rem;
    color:white;
    font-size: 90%;
}

.take-action-btn:hover{

    opacity: 0.6;
}