#list-Table{
    font-size: 80%;
    font-family: poppins;
    margin-top: 5%;
  }
  
  #list-first-item{
    /* width: fit-content; */
  }
  
  #list-body{
    margin-top: 8%; 
    font-size: 100%;
    font-family: poppins;
  }
  
  #list-delete-btn{
    background-color: #FFB259;
    border-radius: 16px;
    width: 75%;
    height: 2rem;
    color:#FFFFFF;
    border: none;
  
    /* font-size: 1rem; */
    font-family: poppins;
  }
  
  #list-delete-btn:hover{
    background-color: #fc9012;
  }

  .addProduct-navbar-col{
    font-size: 100%;
  }

  .table-head-acc-manager{
    border-radius: 12px;
    background: rgba(184, 184, 184, 0.63);
  }

  #row-item-body:hover{
    opacity:0.5;
  }