/* Search Bar */

.search-form{
    width: 40%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 2%;
    border: 1px solid #114059;
    border-radius: 8px;
    font-size: 90%;
}

.form .fa-search{

    /* position: absolute; */
    /* top:20px; */
    /* left: 20px; */
    color: #9ca3af;
    padding-left: 2rem;

}

.form-input{
    margin-left: 0;
    height: 2rem;
    text-indent: 33px;
    border-radius: 10px;
    border: none;
    font-size: 90%;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

/* Sort By Dorpdown */

.sortBy-btn{
    color: #888A8C;
    background-color: white;
    border: 1px solid #114059;
    border-radius: 8px;
    font-size: 85%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}