/* Ticket Details */

#Ticket-detials-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

#detail-Heading {
    border-radius: 12px 12px 0px 0px;
    background: rgba(184, 184, 184, 0.3);
    /* opacity: 0.3; */
    color: #646464;
    font-size: 90%;

}

.label-heads {
    color: #888A8C;
    font-size: 83%;
    font-weight: 400;
    width: 100%;
    margin: 2% auto;
}

.kyc {
    width: fit-content;
    color: #888A8C;
    font-size: 83%;
    font-weight: 400;
    margin: 2% 2% 2% 0;
}

.lable-content {
    font-size: 100%;
    color: black;
}

/* Conatct Details */

.contact-card-header {

    background: #E2E2E2;
    border-radius: 12px 12px 0px 0px;
    font-size: 90%;
}

.table-card-heading {
    padding: 1%;
    font-weight: 500;
    color: #646464;
}

.contact-card-table-row {

    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: #E2E2E2;
}

.contact-card-table-data {
    padding: 1%;
    font-size: 83%;
}

.add-plus-btn {
    background-color: white;
    border-radius: 10px;
    width: 12%;
    font-size: 80%;
    height: 1.8rem;
}

.add-plus-btn:hover {
    background-color: #E2E2E2;
}

/* KYC Status */

.kycStatus-div {
    background: #E42B2B;
    border-radius: 16px;
    width: 8%;
    height: 1.5rem;
    color: white;
    text-align: center;
    font-size: 85%;
    margin-right: 2%;
}

/* Add Contact Pop-up */

.add-contact-input {
    background: #FFFFFF;
    /* Other/Stroke */

    border: 1px solid #CDCFD2;
    border-radius: 8px;
    width: 70%;
    height: 2.5rem;
    font-size: 90%;
    margin:3% auto;
}