@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,500&family=Poppins:ital,wght@0,300;0,500;1,700&family=Ubuntu:ital,wght@0,500;0,700;1,500;1,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'poppins';
  /* font-size: 20px; */
}

/* Toggle Styles */

#viewport {
  padding-left: 230px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 77%;
  position: absolute;
  /* margin-right: 0;
  margin-top: 4rem; */
  margin: 4rem 3.5rem auto 3rem;
  /* font-size: 15px; */
}

.content-fluid{
    /* margin: 4rem 3.5rem auto 3rem; */
    /* margin-left: 3rem; */
}

.content-area{
}

h2{
    padding-bottom: 1.5rem;
    font-size: xx-large;
    font-weight: bold;
}